body{background: #626262;}
tittle{font-size:30;}
h1 {color: #ffffff;}
h1 {text-align: center;}
h1 {font-family: cursive;}
h2{font-size:20;}
h2 {color: #ffffff;}
h2 {text-align: center;}
h2 {font-family:fantasy;}
h2 {text-decoration: underline;}
p {color: #e5e5e5;}
a {color: #b2cbe2;}
a {text-decoration: underline;}
h3 {color: #ffffff;}
h3 {font-size:}
h3 {font-family:fantasy;}
h3 {text-decoration: underline;}
h3 {text-align: center;}
p2 {color: #e5e5e5;}
h4 {color:#ffffff;}
h4 {text-align: center;}
h4 {font-family: fantasy;}
h4 {font-size: 20;}
h5 {text-align: center;}
h5 {font-family: fantasy;}
h5 {font-size: 20;}
img {display: block;}
img {margin: 0 auto;}